<!DOCTYPE html>
<html lang="en">
<head>
  <title>PostIt</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand title" href="#">PostIt</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="">Create group</a></li>
      <li><a href="">noordean</a></li>
      <li><a href="#">Sign out</a></li>
    </ul>
  </div>
</nav>

<div class="container cards">
	<div class="row">
	    <div class="col-md-4">
	        <div class="box">
                <h5>Andela21 general</h5>
                <hr>
                <p>4 Group members</p>
                <a href="#" class="btn btn-primary">View Message Board</a>
            </div>
	    </div>
	    <div class="col-md-4">
	        <div class="box">
                <h5>Bootcamp</h5>
                <hr>
                <p>64 Group members</p>
                <a href="#" class="btn btn-primary">View Message Board</a> 
            </div>
	    </div>
	    <div class="col-md-4">
	        <div class="box">
                <h5>Andela21 group a</h5>
                <hr>
                <p>5 Group members</p>
                <a href="#" class="btn btn-primary">View Message Board</a> 
            </div>
	    </div>
	    <div class="col-md-4">
	        <div class="box">
                <h5>Andela21 random</h5>
                <hr>
                <p>10 Group members</p>
                <a href="#" class="btn btn-primary">View Message Board</a> 
            </div>
	    </div>
	</div>
</div>
<footer>
  <div class="panel-footer text-center"> noordean © 2017.</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script src="js/dist/style.js"></script>
</body>
</html>