<!DOCTYPE html>
<html lang="en">
<head>
  <title>PostIt</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=brick-sign">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<ul id="dropdown" class="dropdown-content">
  <li><a href="#!">Profile</a></li>
  <li class="divider"></li>
  <li><a href="#!">Log out</a></li>
</ul>
<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper red darken-4">
    <a  id="navLogo" href="#!" class="brand-logo left">PostIt</a>
    <ul class="right">
      <li>
        <form>
          <input id="searchInput" type="text" placeholder="Search"/>
        </form>
      </li>
      <li><a href="#">Create group</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown">noordean<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
</div>

<div class="row group-cards">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content grey lighten-4 text">
        <span class="card-title">Bootcamp</span>
          <p>64 group members</p>
      </div>
      <div class="card-action grey lighten-4">
        <a href="#" class="red-text text-accent-1">View Message Board</a>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card">
      <div class="card-content grey lighten-4 text">
        <span class="card-title">Andela General</span>
          <p>4 group members</p>
      </div>
      <div class="card-action grey lighten-4">
        <a href="#" class="red-text text-accent-1">View Message Board</a>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card">
      <div class="card-content grey lighten-4 text">
        <span class="card-title">Andela21 Group A</span>
          <p>10 group members</p>
      </div>
      <div class="card-action grey lighten-4">
        <a href="#" class="red-text text-accent-1">View Message Board</a>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card">
      <div class="card-content grey lighten-4 text">
        <span class="card-title">Andela21 Random</span>
          <p>4 group members</p>
      </div>
      <div class="card-action grey lighten-4">
        <a href="#" class="red-text text-accent-1">View Message Board</a>
      </div>
    </div>
  </div>

    <div class="col s12 m6">
    <div class="card">
      <div class="card-content grey lighten-4 text">
        <span class="card-title">Andela21 Random</span>
          <p>4 group members</p>
      </div>
      <div class="card-action grey lighten-4">
        <a href="#" class="red-text text-accent-1">View Message Board</a>
      </div>
    </div>
  </div>


</div>

<div id="pagination">
  <ul class="pagination">
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
</div>

<div class="footer-copyright">
    © 2017 Copyright noordean
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script src="js/dist/style.js"></script>
</body>
</html>