<!DOCTYPE html>
<html lang="en">
<head>
  <title>PostIt</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=brick-sign">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="logo">
	<h1><a href="#">PostIt</a><span><small><i>..get in touch with friends</i></small></span></h1>
</div>
<div class="container">
<div class="row" id="loginSignUpDiv">
  <div class="col s6" id="loginDiv">
    <a class="waves-effect waves-light btn-flat">Login</a>
  </div>
  <div class="col s6" id="signupDiv">
    <a class="waves-effect waves-light btn-flat">Register</a>
  </div>
</div>
</div>
<div class="footer-copyright">
    © 2017 Copyright noordean
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script src="js/dist/style.js"></script>
</body>
</html>