<!DOCTYPE html>
<html lang="en">
<head>
  <title>PostIt</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand title" href="#">PostIt</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="">Create group</a></li>
      <li><a href="">noordean</a></li>
      <li><a href="#">Sign out</a></li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Post Message</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Group Members<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="">noordean</a></li>
            <li><a href="">evidence</a></li>
            <li><a href="">tunde</a></li>
            <li><a href="">evidence</a></li>
            <li><a href="">tunde</a></li>
          </ul>
        </li>  
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Member<span class="caret"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a><input type="text" placeholder="search for member"/></a></li>
            <li><a href="">search result</a></li>
          </ul>
        </li>         
      </ul>
    </div>
  </div>
</nav>

<div class="message-wrap col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  <div class="msg-wrap">
    <div class="media msg ">
      <div class="media-body">
        <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>
          <h5 class="media-heading">Nurudeen Ibrahim</h5>
            <small class="col-lg-10">Location H-2, Ayojan Nagar, Near Gate-3, Near Shreyas Crossing Dharnidhar Derasar,Paldi, Ahmedabad 380007, Ahmedabad, India Phone 091 37 669307 Email aapamdavad.district@gmail.com jjhjksx n,k,hklfc nklhjklhlif lkhilhildc klhjilhildfm nkjhiohsf ,nbjkhiohsf nhh</small>
      </div>
      <hr>
    </div>
    <div class="media msg">
      <div class="media-body">
        <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>
          <h5 class="media-heading">Evidence Emmanuel</h5>
            <small class="col-lg-10">Arnab Goswami: "Some people close to Congress Party and close to the government had a #secret #meeting in a farmhouse in Maharashtra in which Anna Hazare send some representatives and they had a meeting in the discussed how to go about this all fast and how eventually this will end."</small>
      </div>  
      <hr>
    </div>
    <div class="media msg">
      <div class="media-body">
        <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>
          <h5 class="media-heading">Naimish Sakhpara</h5>
            <small class="col-lg-10">Arnab Goswami: "Some people close to Congress Party and close to the government had a #secret #meeting in a farmhouse in Maharashtra in which Anna Hazare send some representatives and they had a meeting in the discussed how to go about this all fast and how eventually this will end."</small>
      </div>  
      <hr>
    </div>
  </div>
</div>

<footer>
  <div class="panel-footer text-center"> noordean © 2017.</div>
</footer>
</body>
</html>