<!DOCTYPE html>
<html lang="en">
<head>
  <title>PostIt</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=brick-sign">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

<ul id="dropdown" class="dropdown-content">
  <li><a href="#!">Profile</a></li>
  <li class="divider"></li>
  <li><a href="#!">Log out</a></li>
</ul>

<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper red darken-4">
    <a  id="navLogo" href="#!" class="brand-logo left">PostIt</a>
    <ul class="right">
      <li>
        <form>
          <input id="searchInput" type="text" placeholder="Search"/>
        </form>
      </li>
      <li><a href="#">Create group</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown">noordean<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
</div>

<ul id="slide-out" class="side-nav red darken-4 white-text">
    <li><div class="user-view">
        Group Name
    </div></li>
    <li><a class='dropdown-button' href='#' data-activates='dropdown2'>Add member</a></li>
    <li><i class="material-icons prefix">account_circle</i><a class='dropdown-button' href='#' data-activates='dropdown1'>Members<i class="material-icons right">arrow_drop_down</i></a></li>
</ul>

<ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">evidence</a></li>
    <li><a href="#!">Babatunde</a></li>
    <li><a href="#!">supermike</a></li>
    <li><a href="#!">Pythagoras</a></li>
    <li><a href="#!">Jchinonso</a></li>
</ul>

<ul id='dropdown2' class='dropdown-content'>
    <li><input type="text" id="autocomplete-input" class="autocomplete"></li>
</ul>

<div class="row group-cards">
  <div class="col s3">
    <a id="slideOut" href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons red-text">menu</i></a>
  </div>
  <div class="col s9">
    <div class="row">
      <div class="col s10">
          <h6 class="media-heading">Nurudeen Ibrahim</h6>
            <p class="col-lg-10">Location H-2, Ayojan Nagar, Near Gate-3, Near Shreyas Crossing Dharnidhar Derasar,Paldi, Ahmedabad 380007, Ahmedabad, India Phone 091 37 669307 Email aapamdavad.district@gmail.com jjhjksx n,k,hklfc nklhjklhlif lkhilhildc klhjilhildfm nkjhiohsf ,nbjkhiohsf nhh</p>
      </div>
      <div class="col s2">
        <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col s10">
          <h6 class="media-heading">Nurudeen Ibrahim</h6>
            <p class="col-lg-10">Location H-2, Ayojan Nagar, Near Gate-3, Near Shreyas Crossing Dharnidhar Derasar,Paldi, Ahmedabad 380007, Ahmedabad, India Phone 091 37 669307 Email aapamdavad.district@gmail.com jjhjksx n,k,hklfc nklhjklhlif lkhilhildc klhjilhildfm nkjhiohsf ,nbjkhiohsf nhh</p>
      </div>
      <div class="col s2">
        <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col s10">
          <h6 class="media-heading">Nurudeen Ibrahim</h6>
            <p class="col-lg-10">Location H-2, Ayojan Nagar, Near Gate-3, Near Shreyas Crossing Dharnidhar Derasar,Paldi, Ahmedabad 380007, Ahmedabad, India Phone 091 37 669307 Email aapamdavad.district@gmail.com jjhjksx n,k,hklfc nklhjklhlif lkhilhildc klhjilhildfm nkjhiohsf ,nbjkhiohsf nhh</p>
      </div>
      <div class="col s2">
        <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>
      </div>
    </div>

  <div class="row">
    <form class="col s10">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea white"></textarea>
          <label for="textarea1">Message</label>
        </div>
      </div>
    </form>
  </div>
</div>
</div>

<div class="footer-copyright">
    © 2017 Copyright noordean
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script src="js/dist/style.js"></script>
</body>
</html>